body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fff;
}

.container {
  padding: 60px 0px;
  text-align: center;
  max-width: 800px;
}


.calendar {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  gap: 5px;
  margin-top: 10px;
}

.day {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.day:hover {
  background: #f5b700;
  color: white;
}

.selected {
  background: #f5b700;
  color: white;
}

.horarios {
  margin: 10px 0;
}

.horarios button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.horarios button:hover {
  background: #ddd;
}

.btn-agendar {
  background: #f5b700;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.menu {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f5b700;
  border-top: 1px solid #ddd;
}

.menu a {
  color: #333;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  flex: 1;
}

.menu i {
  font-size: 25px;
  display: block;
  margin-bottom: 5px;
  transition: transform 0.2s;
}