body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fff;
}

.container {
  padding: 60px 15px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.back-arrow {
  font-size: 24px;
  text-decoration: none;
  color: #000;
  display: flex;
  margin: 20px;
  margin-top: -2rem;
}

.header-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
  line-height: 1.2;
}

.input-group label{
  display: flex;
  margin-top: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

input::placeholder {
  color: #888;
}

.btn {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  background-color: #ffc107;
  border: none;
  margin-bottom: 10rem;
  border-radius: 20px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #e0a800;
}

.menu {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f5b700;
  border-top: 1px solid #ddd;
  flex-direction: row;
}

.menu a {
  color: #333;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  flex: 1;
}

.menu i {
  font-size: 25px;
  display: block;
  margin-bottom: 5px;
  transition: transform 0.2s;
}

/* ================= RESPONSIVIDADE ================= */
@media (min-width: 768px) {
  .menu {
    flex-direction: column;
    width: 60px;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: auto;
    border-top: none;
    border-right: 1px solid #ddd;
  }

  .menu a {
    flex: none;
    padding: 20px 0;
    font-size: 12px;
  }

  .menu i {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px 15px;
    margin-left: 1rem;
  }

  .btn {
    font-size: 14px;
    padding: 12px;
  }
  .input-group label{
  display: flex;
  }

  .menu i {
    font-size: 20px;
  }
  input {
  width: 90%;
  }
}

@media (max-width: 480px) {
  .back-arrow {
    font-size: 20px;
    margin: 10px;
  }

  input {
    font-size: 14px;
    padding: 10px;
    width: 90%;
  }

  .btn{
    font-size: 13px;
    padding: 10px;
  }

  .menu a {
    font-size: 12px;
  }

  .menu i {
    font-size: 18px;
  }
  .input-group label{
    display: flex;
  }
}